@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700&display=swap");
@font-face {
  font-family: "rayE";
  src: url(./Ray-ExtraBlack.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-de: 1.3rem;
  --logosize:30%;
  --blue: #3975A9;
  --white:#FAF7FE;
  --black: #0F1012;
  --grey:#BDC4D3;
  --green:#797340;
  --duration: 3s;
  --delay:0s;
  --duration1: 1s;
  --delay1: var(--duration);
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: var(--font-de);
  font-family: "rayE";
  background-color: black;
  color: white;
}

.circle {
  position: sticky;
  margin: 0 auto;
  width: 500px;
  height: 15vh;
  filter: blur(80px);
  border-radius: 50%;
  background-image: radial-gradient(circle at top left, var(--green) 40%, var(--blue) 0%);
}

nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
nav #logo {
  font-family: "rayE", sans-serif;
  direction: rtl;
  line-height: 1.2rem;
  margin-top: 20px;
}
nav a {
  color: white;
  font-family: "rayE";
  text-decoration: none;
}
nav li {
  margin-top: 150%;
  rotate: -90deg;
}
nav li::marker {
  color: white;
}

.container-intro {
  margin-left: 70px;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.container-intro .container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-intro .profile {
  z-index: 1;
  margin-top: 50px;
  width: 30vh;
  right: 0%;
  border-radius: 10px;
  box-shadow: white 0px 0px 40px;
}
.container-intro .img {
  box-shadow: rgb(105, 105, 105) 0 0 15px;
  border-radius: 8px;
  position: absolute;
  max-height: 100px;
  z-index: -1;
}
.container-intro .feeling {
  animation: feeling var(--duration) var(--delay) ease-in-out forwards;
}
.container-intro .peidast {
  animation: peidast var(--duration) var(--delay) ease-in-out forwards;
}
.container-intro .ga-render {
  animation: ga-render var(--duration) 3s ease-in-out forwards;
}
.container-intro .github-icon {
  height: 45px;
  box-shadow: none;
  animation: github-icon var(--duration1) var(--delay1) ease-out forwards;
}
.container-intro .photoshop-icon {
  height: 35px;
  filter: invert(75%);
  box-shadow: none;
  animation: photoshop-icon var(--duration1) calc(var(--delay1) + 0.5s) ease-out forwards;
}
.container-intro .html-icon {
  height: 35px;
  filter: invert(75%);
  box-shadow: none;
  animation: html-icon var(--duration1) calc(var(--delay1) + 1s) ease-out forwards;
}
.container-intro .intro-text {
  display: flex;
  flex-flow: column nowrap;
}
.container-intro .intro-text .intro-name {
  font-size: 350%;
  display: inline-block;
  line-height: 4.5rem;
  direction: rtl;
}
.container-intro .intro-text .job {
  width: 20rem;
  text-wrap: wrap;
  font-family: "vazirmatn", sans-serif;
}

.container-coworkers {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 25%;
  font-family: "vazirmatn";
  gap: 30px;
}
.container-coworkers p {
  margin: 0 auto;
  width: 50%;
  font-size: 1rem;
  direction: rtl;
  text-align: center;
}
.container-coworkers .emojies {
  margin-left: 150px;
  position: relative;
}
.container-coworkers .emojies p {
  font-size: 40px;
}
.container-coworkers .emojies .e1, .container-coworkers .emojies .e2, .container-coworkers .emojies .e3 {
  position: absolute;
}
.container-coworkers .emojies .e1 {
  transform: translate(-100px, -70px);
  rotate: 10deg;
}
.container-coworkers .emojies .e2 {
  font-size: 50px;
  transform: translate(-120px, -200px);
}
.container-coworkers .emojies .e3 {
  transform: translate(50px, -230px);
}
.container-coworkers .emojies .e4 {
  transform: translate(0, -50px);
}
.container-coworkers .emojies .co-emojie {
  font-size: 130px;
}
.container-coworkers .co-emojie {
  width: 40%;
  rotate: 10deg;
  filter: invert(85%);
}
.container-coworkers .co-card {
  width: 600;
}
.container-coworkers .co-card img {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.container-coworkers .co-card .masaf {
  width: 20%;
}

.container-works {
  color: #0F1012;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container-works .card {
  align-items: center;
  background-color: rgb(243, 242, 242);
  border-radius: 10px;
  box-shadow: white 0 0 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 30px;
  min-height: 100%;
  padding: 10px;
}
.container-works .card img {
  width: 200px;
  border-radius: 10px;
}
.container-works .card h3 {
  text-align: center;
}
.container-works .card p {
  font-size: 1rem;
  font-family: "vazirmatn";
  text-align: center;
  width: 70%;
}

.container-contact {
  margin-top: 30px;
  margin: 30px auto 0 auto;
  max-width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.295);
  min-height: 250px;
  min-width: 500px;
}
.container-contact .blur {
  filter: blur(10px);
}
.container-contact h3 {
  font-size: 80px;
  direction: rtl;
  text-align: center;
}
.container-contact .container-c-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container-contact .container-c-card a {
  color: white;
  text-decoration: none;
}
.container-contact .container-c-card .c-card {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 150px;
  display: flex;
  padding: 5px 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.container-contact .container-c-card .c-card img {
  height: 30px;
  filter: invert(100%);
}
.container-contact .container-c-card .c-card p {
  display: inline;
  font-family: "vazirmatn";
}

@keyframes feeling {
  100% {
    transform: translate(150%);
    rotate: -30deg;
  }
}
@keyframes peidast {
  100% {
    transform: translate(-180%, 30%);
    rotate: 30deg;
  }
}
@keyframes ga-render {
  100% {
    rotate: 25deg;
    transform: translate(290%);
  }
}
@keyframes github-icon {
  100% {
    transform: translate(0, -300%);
    rotate: 5deg;
  }
}
@keyframes photoshop-icon {
  100% {
    transform: translate(100%, 500%);
    rotate: 10deg;
  }
}
@keyframes html-icon {
  100% {
    transform: translate(230%, 500%);
    rotate: -6deg;
  }
}/*# sourceMappingURL=style.css.map */